Source: python-parse-type
Maintainer: Scibian Project <packaging@scibian.org> 
Section: python
Priority: optional
Build-Depends:
    debhelper (>= 9), dh-python (>= 2.20160609~),
    python-all (>= 2.6.6-3), python-setuptools (>= 0.6b3),
    python-pytest, python-pytest-runner, python-six, python-parse,
    python-enum34,
    python3-all, python3-setuptools,
    python3-pytest, python3-pytest-runner, python3-six, python3-parse,
Standards-Version: 3.9.8
Homepage: https://github.com/pytest-dev/parse-type/
Vcs-Git: https://github.com/scibian/python-parse-type
Vcs-Browser: https://github.com/scibian/python-parse-type.git

Package: python-parse-type
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: BDD plugin for py.test.
 Extends the parse module (opposite of string.format()) with
 the a number of additional features.
 .
 This package contains the python 2 version.

Package: python3-parse-type
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: BDD plugin for py.test.
 Extends the parse module (opposite of string.format()) with
 the a number of additional features.
 .
 This package contains the python 3 version.
